/* colors */
$color-282828: #282828;
$color-E6E3C4: #e6e3c4;
$color-998431: #998431;
$color-99862A: #99862a;
$color-c4c4c4: #c4c4c4;
$color-ffffff: #ffffff;

/* width */
$max-width: 1100px;

/* media */
$media-1024: 1024px;
$media-768: 768px;
$media-480: 480px;
$media-360: 360px;
$media-320: 320px;
